@model List<ResultFeatureDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Features List</h4>
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Feature Title</th>
                                <th>Delete</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.Title</td>
                                    <td>
                                        <a asp-area="Admin" asp-controller="Feature" asp-action="DeleteFeature" asp-route-id="@item.FeatureId" class="btn btn-danger">Delete</a>
                                    </td>
                                    <td>
                                        <a asp-area="Admin" asp-controller="Feature" asp-action="EditFeature" asp-route-id="@item.FeatureId" class="btn btn-success">Edit</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a asp-area="Admin" asp-controller="Feature" asp-action="CreateFeature" class="btn btn-primary">Add New Feature</a>
                </div>
            </div>
        </div>
    </div>
</section>

