@model List<ResultBrandDto>

<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                @foreach (var item in Model)
                {
                    <div class="bg-transparent p-4 d-flex justify-content-center align-items-center">
                        <img src="@item.ImageUrl" alt="@item.BrandName" class="img-fluid" style="max-height: 100%; max-width: 100%;">
                    </div>
                }
            </div>
        </div>
    </div>
</div>