@model FeatureSliderUpdateDto

@{
    ViewData["Title"] = "EditFeatureSlider";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Update Feature Slider</h4>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <input type="hidden" asp-for="FeatureSliderId" />
                        <label>Feature Slider Title</label>
                        <input type="text" class="form-control" value="@Model.Title" asp-for="Title"/>
                        <br/>
                        <label>Feature Slider Description</label>
                        <input type="text" class="form-control" value="@Model.Description" asp-for="Description"/>
                        <br/>
                        <label>Feature Slider Image</label>
                        <input type="text" class="form-control" value="@Model.ImageUrl" asp-for="ImageUrl"/>
                        <br/>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

