@model CreateDiscountOfferDto
@{
    ViewData["Title"] = "CreateDiscountOffer";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Create New Discount Offer</h4>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <label>Discount Offer Title</label>
                        <input type="text" class="form-control" value="" asp-for="Title" />
                        <br />
                        <label>Discount Offer SubTitle</label>
                        <input type="text" class="form-control" value="" asp-for="SubTitle" />
                        <br />
                        <label>Discount Offer Image</label>
                        <input type="text" class="form-control" value="" asp-for="ImageUrl" />
                        <br />
                        <label>Discount Offer Button Name</label>
                        <input type="text" class="form-control" value="" asp-for="ButtonTitle" />
                        <br />
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

