@model UpdateDiscountOfferDto
@{
    ViewData["Title"] = "EditDiscountOffer";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Edit Discount Offer</h4>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <input type="hidden" asp-for="DiscountOfferId" />
                        <label>Discount Offer Title</label>
                        <input type="text" class="form-control" value="@Model.Title" asp-for="Title" />
                        <br />
                        <label>Discount Offer SubTitle</label>
                        <input type="text" class="form-control" value="@Model.SubTitle" asp-for="SubTitle" />
                        <br />
                        <label>Discount Offer Image</label>
                        <input type="text" class="form-control" value="@Model.ImageUrl" asp-for="ImageUrl" />
                        <br />
                        <label>Discount Offer Button Name</label>
                        <input type="text" class="form-control" value="@Model.ButtonTitle" asp-for="ButtonTitle" />
                        <br />
                        <button type="submit" class="btn btn-success">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

