@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Shop List</span>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-4">
            @await Component.InvokeAsync("_PartialPriceFilterComponent")

            @await Component.InvokeAsync("_PartialColorFilterComponent")

            @await Component.InvokeAsync("_PartialSizeFilterComponent")
        </div>
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                @await Component.InvokeAsync("_PartialProductSortingComponent")

                @await Component.InvokeAsync("_PartialProductListComponent", new { categoryId = ViewBag.CategoryId })

                @await Component.InvokeAsync("_PartialProductListPaginationPartial")
            </div>
        </div>
    </div>
</div>
